{% load static i18n site_text %}

{% for doc in page_obj %}
<a class="library__file-card" target="_blank" href="
    {% if request.LANGUAGE_CODE == 'ru' and doc.file_ru %}
        {{ doc.file_ru.url }}
    {% elif request.LANGUAGE_CODE == 'en' and doc.file_en %}
        {{ doc.file_en.url }}
    {% elif request.LANGUAGE_CODE == 'az' and doc.file_az %}
        {{ doc.file_az.url }}
    {% elif request.LANGUAGE_CODE == 'ka' and doc.file_ka %}
        {{ doc.file_ka.url }}
    {% else %}
        {{ doc.file_ru.url }}
    {% endif %}
">
    <div class="library__file-icon">
        {% if doc.icon %}
        <img src="{{ doc.icon.url }}" alt="">
        {% else %}
        <img src="{% static 'img/pdf-default.png' %}" alt="">
        {% endif %}
    </div>
    <div class="library__file-title">
        {% if request.LANGUAGE_CODE == 'ru' %}{{ doc.title_ru }}
        {% elif request.LANGUAGE_CODE == 'en' %}{{ doc.title_en }}
        {% elif request.LANGUAGE_CODE == 'az' %}{{ doc.title_az }}
        {% elif request.LANGUAGE_CODE == 'ka' %}{{ doc.title_ka }}
        {% endif %}
    </div>
</a>
{% empty %}
<div class="library__empty">—</div>
{% endfor %}